@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --main-bg: 0, 0%, 100%;
  --card-bg: 227, 47%, 96%;
  --primary-txt: 230, 17%, 14%;
  --secondary-txt: 228, 12%, 44%;
  --top-bg: 225, 100%, 98%;
}
.dark {
  --top-bg: 232, 19%, 16%;
  --main-bg: 230, 17%, 14%;
  --card-bg: 228, 28%, 20%;
  --primary-txt: 0, 0%, 100%;
  --secondary-txt: 228, 34%, 66%;
  --very-dark-blue-bg: hsl(230, 17%, 14%);
  --very-dark-blue-top-bg: hsl(233, 17%, 20%);
}

/* 
// Dark Theme
"very-dark-blue-bg": "hsl(230, 17%, 14%)",
"very-dark-blue-top-bg": "hsl(232, 19%, 15%)",
"dark-desaturated-blue-card-bg": "hsl(228, 28%, 20%)",
"desaturated-blue-text": "hsl(228, 34%, 66%)",
"white-text": "hsl(0, 0%, 100%)",

// Light Theme
"white-bg": "hsl(var(--main-bg))",
"very-pale-blue-top-bg": "hsl(225, 100%, 98%)",
"light-grayish-blue-card-bg": "hsl(227, 47%, 96%)",
"dark-grayish-blue-text": "hsl(228, 12%, 44%)",
"very-dark-blue-text": "hsl(230, 17%, 14%)",

"lime-green": "hsl(163, 72%, 41%)",
"bright-red": "hsl(356, 69%, 56%)", */
